
*~
\#*
.#*
*.egg-info/
*.exp
*.lib
*.obj
*.pyc
*.pyd.manifest
*.pyo
.cache
.DS_Store
.idea
.project
.pydevproject
/.settings
RELEASE-VERSION
build/
__pycache__
dist/*
tests/output/*
evalresp-4.0.6
MyTests
**/__pycache__/
*.jar
*.xml
mydist.sh
